.puja-application-container {
  padding-left: 16vw;
  padding-right: 16vw;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-top: 2rem;
}
.form-item input {
  height: 30px;
  width: 30%;
  padding: 1rem 1rem;
}
.prasad-btn {
  border: 1px solid lightgray;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0.3rem;
  cursor: pointer;
}
.proceed-btn {
  width: 40%;
  padding: 0.8rem 1.2rem;
  background-color: #e6e4eb;
  color: black;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  cursor: pointer;
}
